{% extends 'base.html' %}

{% block title %}Menu{% endblock %}

{% block menu_active %}active{% endblock %}

{% block content %}
    <div class="m-5">
        <h1>Foods</h1>
        <div class="row mb-5">
            {% for food in foods %}
                <div class="col-lg-4 col-sm-12 mb-4">
                    <div class="card h-100 p-0">
                        <img class="card-img-top" src="{{ food.image_url }}">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title flex-fill text-justify">{{ food.name }}</h5>
                            <span class="card-text price pb-3">{{ food.unit_price }}</span>
                            <a href="{{ url_for('menu.detail', id=food['menu_id']) }}" class="btn btn-info btn-block" role="button">Details</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <h1>Drinks</h1>
        <div class="row">
        {% for drink in drinks %}
            <div class="col-lg-4 col-sm-12 mb-4">
                <div class="card h-100 p-0">
                    <img class="card-img-top" src="{{ drink.image_url }}">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title flex-fill text-justify">{{ drink.name }}</h5>
                        <p class="card-text price pb-3">{{ drink.unit_price }}</p>
                        <a href="{{ url_for('menu.detail', id=drink['menu_id']) }}" class="btn btn-info btn-block" role="button">Details</a>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/menu/currencyformat.js')}}"></script>
{% endblock %}